body {
  font-family: "Montserrat", sans-serif;
  background-color: #f7f7f7;
}
#bg-login-admin {
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}
#judul {
}
#subjudul {
}
#form-control-admin-login {
  width: 60vh;
  background-color: #f7f7f7;
  border-radius: 10px;
  border: 2px solid #111;
}
#dropdown-admin-login {
  width: 60vh;
  border-radius: 10px;
  background-color: #f7f7f7;
}
#btn-submit {
  width: 40vh;
  background-color: #232323;
  color: #f7f7f7 !important;
  text-align: center;
}
#judul-left {
  position: absolute;
  top: 42%;
  left: 14%;
  color: white;
  transform: translate(-50%, -50%);
}
